<div id='slider'>
	<div class="navSlider-container">
		<ul class="navSlider-list">
			<li class="navSlider-item"><a href="#works">Works</a></li>
			<li class="navSlider-item"><a href="#about">About</a></li>
			<li class="navSlider-item"><a href="#contact">Contact</a></li>
			<li class="navSlider-item" style="height: 42px;margin: 20px;">
				<a class="icon-instagram" style="font-size: 24px;margin-top: -2px;"></a>
            </li>
			<li class="navSlider-item" href="https://www.instagram.com/c.t.main/">
				<a class="icon-saatchi" href="https://www.saatchiart.com/ctmain"></a>
			</li>
		</ul>
	</div>
</div>