@font-face {
    font-family: 'ctmain';
    src: url('../../fonts/ctmain/fonts/ctmain.eot');
    src: url('../../fonts/ctmain/fonts/ctmain.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/ctmain/fonts/ctmain.woff') format('woff'),
         url('../../fonts/ctmain/fonts/ctmain.ttf') format('truetype'),
         url('../../fonts/ctmain/fonts/ctmain.svg#ctmain') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  [class*='icon-']:before{
  display: inline-block;
   font-family: 'ctmain';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
  }

/* fixes iOS safari bottom toolbar to always show */
@media screen and (max-width:767px) {
	html,
	body {
		/* Allows content to fill the viewport and go beyond the bottom */
		height: 100%;
		
		/* Allows you to scroll below the viewport; default value is visible */
		overflow-y: scroll;
		
		/* To smooth any scrolling behavior */
		-webkit-overflow-scrolling: touch;
	}
}
/*
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
	html {
	  transform: rotate(90deg);
	  transform-origin: left top;
	  width: 100vh;
	  overflow-x: hidden;
	  position: absolute;
	  top: 100%;
	  left: 0;
	}
  }
*/
html { 
	height: 100%;
    width: 100%;
   /* overflow: hidden;*/
 }

body { 
	width: 100%;
    height: 100%;
    /*overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;*/
	background: #fff; 
}

::-moz-selection { color:#fff; background: #888; }
::selection { color:#fff; background: #888; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
	/*font-family: 'Lato', Calibri, Arial, sans-serif;*/
	font-weight: 400;
	font-family: 'Geomanist';
	font-size: 16px;
	letter-spacing: 1px;
    color: #888;
    overflow: scroll;
    overflow-x: hidden;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	max-width: 80vw;
	min-height: 100vh;
	margin:0 auto;
	/*border-bottom: 1px solid #dcdcdc;*/
	position: relative;
	transition: ease 500ms all;
	padding-top: 60px;
}
/*
#works.container {
	padding-top: 60px;
}
*/
.container > header {
	/*width: 90%;
	max-width: 1240px;*/
	margin: 0 auto;
	position: relative;
	padding: 0 30px 50px 30px;

	/*max-width: 80vw;*/

	padding: 60px 37px 50px;
	/*text-align: center;*/
}

.container > header h1 {
	font-size: 34px;
	font-size: 4vh;
	line-height: 38px;
	margin: 0 auto;
	font-weight: 700;
	font-weight: 300;
	letter-spacing: 3px;
	color: #555;
	position: relative;
	display: inline;
    z-index: 11;
}

#works.container > header {
	width:80vw;
	/*position:fixed;*/
	padding: 60px 30px 50px;
	background: #fff;
	z-index: 10;
	transition: ease 500ms all;
}

#works.container > header.scrolled {
	width:80vw;

	/*padding: 0 37px;*/
	background: #fff;
	z-index: 10;
}

#works.container > header h1 {
	display: block;
	margin-right: -10px;
	opacity: 1;
	font-size: 5vh;
	text-transform: uppercase;
	letter-spacing: 10px;
	transition: ease 500ms all;
}

#works.container > header.scrolled h1 {
	/*opacity: 0;
	font-size: 3vh;*/
}

.container > header h1 span {
	display: block;
	font-size: 20px;
	font-weight: 300;
}

.main > p {
	text-align: center;
	padding: 50px 20px;
}

/*
footer{
	width: 80vw;
    height: 60px;
    position: fixed;
    right: 10vw;
    left: 10vw;
    bottom: 0;
    background-color: #fff;
    padding-top: 14px;
	text-align: right;
	font-family: 'ctmain';
	font-size: 24px;
}
*/
.icon-instagram,
.icon-saatchi{
	width: 24px;
    height: 24px;
	display: inline-block;
	color:#888;
}


.nav-item .icon-instagram,
.nav-item .icon-saatchi{
	margin-top: -2px;
}

.nav-item .icon-instagram,
.nav-item .icon-saatchi,
#slider .navSlider-container .navSlider-item a.icon-instagram,
#slider .navSlider-container .navSlider-item a.icon-saatchi{
	font-size: 24px;
	display: none;
}

.icon-instagram:before{content:'\004d';}
.icon-saatchi:before{content:'\004e';}