<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
	{{ partial "head.html" . }}
	{{ template "_internal/google_analytics.html" . }}
</head>

<body>
	{{ partial "nav.html" . }}
	<div id="works" class="container">
		{{ partial "header.html" . }}
		{{.Content}}
		<div class="main">
			<ul id="og-grid" class="og-grid">
				{{ range $.Site.Data.items.items }}
				<!--<li>-->
					<!--<a href="{{.url}}" data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{.description }}"
					 data-dimensions="{{.dimensions }}" data-buttontext="{{.buttontext}}">
						<img class="lazy" src="{{.thumb}}" data-retina="{{.retinaThumb}}" alt="{{.alt}}" />
					</a>
					<a class="lg-link" href="{{.image}}" data-title="{{.title}}" data-description="{{.description }}"
					 data-dimensions="{{.dimensions }}" data-buttontext="{{.buttontext}}">
						<img class="lazy" src="{{.thumb}}" data-retina="{{.retinaThumb}}" alt="{{.alt}}" />
					</a>-->
					<li itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
						<a class="lg-link" href="images/1800/{{.image}}" data-size="{{.imageSize}}" itemprop="contentUrl" url="{{.image}}">
							<img src="images/150/{{.image}}" data-lowsrc="images/150/{{.image}}" data-sizes="auto" class="lazyload" data-srcset="images/150/{{.image}} 150w, images/300/{{.image}} 300w, images/600/{{.image}} 600w" itemprop="thumbnail" alt="{{.alt}}"/>
						</a>
				
						<figcaption itemprop="caption description">
							<h4>{{.title}}</h4>
							<p>{{.dimensions }}</p>
							<p>{{.description }}</p>
							<p class="zoomInstruction">click for larger image</p>
						</figcaption>
					</li>
				<!--</li>-->

				{{ end }}
			</ul>

		</div>
	</div>
	<div id="about" class="container">
		<header class="clearfix">
			<h1>About</h1>
		</header>
		{{ range $.Site.Data.items.about }}
		
		<article class="og-grid">
			<p>
				<img class="lazyload" src="images/about.jpg" style="width:100%" />
			
			</p>
			<div style="margin-bottom:50px">
					<blockquote style="font-style: italic;text-align: justify;color: #555;padding-bottom: 40px;">
							“Bomb disposal and war in general are as good as
							definitions of risk: to mind and body and soul. Now,
							every time I approach that blank canvas, it’s like taking
							dangerous first steps into the minefield of the unknown
							again. Its not like war exactly but it is like, risking it all.
							Risking it this time for love, beauty and art. I feel useful
							and brave again.”
							<cite style="margin-top:19.2px;font-style: normal;float:right">- C. T. Main, on painting</cite>
					</blockquote>

					
			</div>
			<p>
				C. T. Main is a recently discovered “outsider artist” who grew up in Wales and the North East of England. Born into a “till blue in the face” military family whom he describes as “believing in many things worth dying for and yet more things worth killing for”, C.T. bitterly acknowledges the hard and loveless upbringing which resulted in him being “macho-engineered into a sham marriage, obligatory parenthood and, eventually, a uniform”.
			</p>
			<p>
				He served for over a decade as a bomb disposal specialist in the Welsh Guards, alongside some of the toughest military units in the world, in virtually all the major British Army conflict zones. Between 1990 and 2002 he would be forced to witness and lament the loss of many of those closest to him.
			</p>
			<p>
				On one occasion he was captured by the enemy and brutally tortured. C.T describes the experience in classic survivor guilt terms as he says he felt deserving of the pain inflicted as punishment for surviving his comrades-in-arms. Recalling “I hated myself more than that enemy ever could”, C.T. expresses the kind of sentiment that Wilfred Owen referred to as simply “the pity of War”.
			</p>
			<p>
				Since his return to civilian life, there have been some good times, however C.T. has continued to encounter daily adversity, underpinned by profound physical and psychological trauma, homophobia, poverty, disenfranchisement and, ultimately, homelessness.
			</p>
			<p>
				Despite these challenging experiences, C.T. believes he has seen not only the worst, but astonishingly more of the very best of humanity, even from within his supposed enemies. This is the golden thread of human forgiveness and innate hopefulness that informs his current practice.
			</p>
			<p>
				Through his unique visual language, C.T. introduces us, with acerbic wit, to a ghastly yet beguiling panoply of the living and the dead; mortal and Minotaur. His work offers up a veritable round table of sexually animated ‘creature-raz’ (“creatures”), slipping and snarling effortlessly between the binary habitats of the ineffable real and the realer still. In his paintings there exists a potent strain of the Celtic hiraeth that has for so long haunted the Welsh imagination.
			</p>
			<p>
				C.T.’s ‘creature-raz’ are almost exclusively rendered in the harsh, forensic half-light of destruction and detonation, as they rail against the complacency of humankind, making stateless glimpses of transfiguration all the more affecting: for, beyond such dark orgiastic visions, a familiar yet airy calm descends, like a homecoming after the storm. Caught in the glare of their heightened reality, all species seem to coexist as if suspended in a perfect explosive solution.
			</p>
		</article>
		
		{{ end }}
	</div>
	<div id="contact" class="container">
		<header class="clearfix">
			<h1>Contact</h1>
		</header>
		<article class="og-grid">
			<p>
				All enquiries: <a href="mailto:contact@catraisonne.com">contact@catraisonne.com</a>
			</p>
		</article>
		
	</div>
	<!--{{ partial "footer.html" . }}-->
	{{ partial "navSlider.html" . }}
	{{ partial "scripts3.html" . }}
	<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

		<!-- Background of PhotoSwipe. 
			 It's a separate element as animating opacity is faster than rgba(). -->
		<div class="pswp__bg"></div>
	
		<!-- Slides wrapper with overflow:hidden. -->
		<div class="pswp__scroll-wrap">
	
			<!-- Container that holds slides. 
				PhotoSwipe keeps only 3 of them in the DOM to save memory.
				Don't modify these 3 pswp__item elements, data is added later on. -->
			<div class="pswp__container">
				<div class="pswp__item lazyload"></div>
				<div class="pswp__item lazyload"></div>
				<div class="pswp__item lazyload"></div>
			</div>
	
			<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
			<div class="pswp__ui pswp__ui--hidden">
	
				<div class="pswp__top-bar">
	
					<!--  Controls are self-explanatory. Order can be changed. -->
	
					<div class="pswp__counter"></div>
	
					<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
	
					<button class="pswp__button pswp__button--share" title="Share"></button>
	
					<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
	
					<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
	
					<!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
					<!-- element will get class pswp__preloader--active when preloader is running -->
					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
						  <div class="pswp__preloader__cut">
							<div class="pswp__preloader__donut"></div>
						  </div>
						</div>
					</div>
				</div>
	
				<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					<div class="pswp__share-tooltip"></div> 
				</div>
	
				<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
				</button>
	
				<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
				</button>
	
				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>
	
			</div>
	
		</div>
	
	</div>
</body>

</html>